section.infos {
    padding: 25px 0;
    background-color: $background;
    .info {
        padding: 70px 0px;
        .custom-card {
            @include custom-card;
            img {
                margin: 10px 4rem;
            }
            .card-body {
                margin-top: 50px;
                h5 {
                    font-size: 36px;
                    font-weight: bold !important;
                    color: $primary;
                    border-left: 2px solid $primary;
                    padding: 0px 20px;
                    margin-bottom: 50px;
                    span {
                        color: $secondary;
                    }
                }
                h6 {
                    font-size: 25px;
                    font-weight: bold !important;
                    color: $onsurface;
                    margin-bottom: 50px;
                }
                p {
                    font-size: 18px;
                    color: $onsurface;
                    line-height: 32px;
                    text-align: justify;
                }
            }
        }
    }
}

section.experience {
    background-image: url(../images/exp.png);
    background-repeat: no-repeat;
    background-position: right;
    .container {
        .row {
            border-radius: 30px;
            background-color: $surface;
            .card {
                @include custom-card-primary;
            }
        }
    }
}

section.education {
    background-image: url(../images/edu.png);
    background-repeat: no-repeat;
    .container {
        .row {
            border-radius: 30px;
            background-color: $surface;
            .card {
                @include custom-card-primary;
            }
        }
    }
}

section.portfolio {
    background-image: url(../images/port.png);
    background-repeat: no-repeat;
    background-position: right;
    .container {
        .row {
            border-radius: 30px;
            background-color: $surface;
            .cards {
                display: inline-block;
                .gallarycard {
                    background: $background;
                    border: 2px solid $primary;
                    height: 300px;
                    width: 300px;
                    border-radius: 1rem;
                    padding: 1.5rem;
                    overflow: hidden;
                    margin: 2rem;
                    position: relative;
                    &:hover,
                    &:focus-within {
                        .custom-btn {
                            display: block;
                        }
                        .custom-btn1 {
                            display: block;
                        }
                        border: 2px solid $secondary;
                        .img1 {
                            transform: translateY(-25rem);
                        }
                        .img2 {
                            transform: translateY(-9rem);
                        }
                        .img3 {
                            transform: translateY(-12rem);
                        }
                        .img4 {
                            transform: translateY(-27rem);
                        }
                        .img5 {
                            transform: translateY(-28rem);
                        }
                        .img6 {
                            transform: translateY(-16rem);
                        }
                        .img7 {
                            transform: translateY(-35rem);
                        }
                        .img8 {
                            transform: translateY(-26rem);
                        }
                        .img9 {
                            transform: translateY(-13rem);
                        }
                    }
                    .custom-btn {
                        @include custom-btn;
                        position: absolute;
                        bottom: 4px;
                        left: 28px;
                        z-index: 10;
                        display: none;
                    }
                    .custom-btn1 {
                        @include custom-btn;
                        position: absolute;
                        bottom: 4px;
                        right: 28px;
                        z-index: 10;
                        display: none;
                    }
                    img {
                        transition: 1s ease-in-out;
                        max-width: 100%;
                        border-radius: 20px;
                        z-index: 1;
                    }
                    h2 {
                        font-size: 30px;
                        color: $secondary;
                        font-weight: bold !important;
                        padding: 0px 20px;
                        margin-bottom: 50px;
                        position: absolute;
                        z-index: 10;
                    }
                    p {
                        color: $onsurface;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

section.contact {
    height: 600px;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    .container {
        .row {
            border-radius: 30px;
            background-color: $surface;
            h4 {
                color: $onbg;
            }
            .info {
                color: $onbg;
                width: 400px;
                svg {
                    color: $primary !important;
                    margin-right: 2px;
                }
            }
            .custom-btn {
                @include custom-btn;
                &:hover {
                    background-color: $primary;
                    color: $onprim;
                }
            }
            .custom-form-control {
                background-color: $surface;
                border: 2px solid $primary;
            }
        }
    }
}