body {
    .footer {
        .content {
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4rem;
            padding: 2rem;
            a,
            p {
                color: $onsurface;
                text-decoration: none;
            }
        }
    }
}

@mixin custom-card {
    display: flex;
    border: none;
    border-radius: 40px;
    background: $surface;
}
@mixin custom-card2 {
    display: flex;
    border: none;
    border-radius: 40px;
   
}
@mixin custom-card-primary {
    border: none;
    border-radius: 40px;
    background: $background;
    height: 250px;
    h5 {
        color: #e34c26;
        font-size: 30px;
        font-weight: bold !important;
        padding: 0px 20px;
        margin-bottom: 50px;
    }
    p {
        color: #e5e7e9;
        font-size: 18px;
        line-height: 32px;
    }
}

@mixin custom-btn {
    border: none;
    background-color: $secondary;
    a {
        text-decoration: none;
        color: $onsec;
    }
}