@import './_variable.scss';
@import './navbar.scss';
@import './mixin.scss';
@import './card.scss';
@import './button.scss';
@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: "cairoFont", 'Cambira, Cochin, Georgia, Times, Times New Roman, serif' !important;
    background-color: $background;
    margin: 0;
    display: grid;
    place-items: center;
}

// main-container
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-x: hidden;
}

.container {
    h2 {
        font-size: 46px;
        font-weight: bold !important;
        color: $primary;
        padding: 0px 20px;
        margin-bottom: 50px;
    }
}

#copyright {
    color: red;
    font-size: 24px;
    z-index: 10;
}

section.contact {
    height: 600px;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    .container {
        .row {
            border-radius: 30px;
            background-color: $surface;
            h4 {
                color: $onbg;
            }
            .info {
                color: $onbg;
                width: 400px;
                svg {
                    color: $primary !important;
                    margin-right: 2px;
                }
            }
            .custom-btn {
                @include custom-btn;
                &:hover {
                    background-color: $primary;
                    color: $onprim;
                }
            }
            .custom-form-control {
                background-color: $surface;
                border: 2px solid $primary;
            }
        }
    }
}